ul {
    list-style: none;
}

.menu>li,
.menu>a {

    display: inline-block;
}

.menu li {
    position: relative;
}

.menu li {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 1.5rem;
    transition: background-color .22s ease, color .22s ease;
}

.menu li:hover {
    background-color: rgb(10, 68, 116);
    color: #fff;

}

.submenu {
    position: absolute;
    background-color: rgb(114, 176, 226);
    width: 180px;
    left: 0;
    display: none;
}

.submenu li {
    border: 0.5px solid rgb(156, 150, 150);
}

.submenu2 {
    position: absolute;
    background-color: rgb(114, 176, 226);
    width: 180px;
    left: 100%;
    top: 7px;
    display: none;
}

.menu li:hover>.submenu {
    display: block;
}

.submenu li:hover>.submenu2 {
    display: block;
}